h1, h2, h3, h4, h5, h6,p {
    margin-bottom: 0;
    margin-top: 0;
}
ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
button{
    cursor: pointer;
}
.container{
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body{
    color: var(--slate, #434455);
    background-color: var(--write,#FFF);
    font-family: Roboto,  sans-serif;
    font-size: 16px;
    font-weight: 500;
}
:root{
    --write-color: #FFF;
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
}
.menu{
    color: var(--navyblue-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.header-link{
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}
.header-menu{
    display: flex;
    gap: 40px;
}

.address-contacts-links{
    margin-left: auto;
}
.contacts{
    display: flex;
    column-gap: 40px;
    margin-left: auto;
    gap: 40px;
}
.contacts-social {
    color: var(--slate-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
.mail{
    margin-right: 40px;
}
.tel{
    margin-left: 0;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-solutions-title {
    background-color: var(--navyblue-color);

}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-solutions-title{
    background-color: var(--navyblue-color);
    max-width: 496px;
}
.contacts-social:hover {
    color: #404bbf;
}

.contacts-social:focus {
    color: #404bbf;
}
.section-title-text{
    padding-top: 188px;
    padding-bottom: 188px; 
}
.section-title-activity{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    max-width: 496px;
}
.page-header-container{
    display: flex;
}
.header-navigation{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 453px;
    
}
.header-navigation-logo{
    color: var(--iris-color);
    align-items: center;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
    
}

.header-navigation-accent{
    color: var(--navyblue-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.header-navigation-accent-studio{
    color:var(--cloud-color);
}


.link{
    text-decoration: none;
}

.menu-link-item{
    color: var(--navyblue-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;

}
.menu-link-item:hover{
    color: #404bbf;
}
.menu-link-item:focus{
    color: #404bbf;
}



.address-contacts-links{
    font-style: normal;
}
.list{
    list-style-type: none;
}

.menu-list{
    list-style-type: none;
}

.button{
    background-color: rgba(0, 0, 0, 0);
    
}

.button:hover{
    color: var(--write-color);
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
}


.section-button-order{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--write-color);
    background: var(--iris-color);
    cursor: pointer;
    border: 4px;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
}
.section-button-order:hover{
background-color: #404BBF
}
.section-button-order:focus{
    background-color: #404BBF
}

.section-solutions-title{
    color: var(--write-color);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    background-color: var(--navyblue-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title-text{
    background-color: var(--navyblue-color);
}
.section-solutions-title{
    font-weight: 500;
}
.section-scroll-activity{
padding-top: 120px;
padding-bottom: 120px;
}
.feature{
    display: flex;
    gap: 24px;
}
.feature-activity-strategy{
    width: calc((100% – 72px)/4);
}
.feature-list{
    color: var(--navyblue-color);
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 8px;
}

.description-scroll-activity{
    color: var(--slate-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team{
    flex-basis: calc((100% – 72px)/4);
}
.our-team-employees{
    padding: 32px 0;
}
.section-our-team{
    background-color: var(--cloud-color);
}
.question{
    color: var(--navyblue-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
   
}
.title-section-team{
    color: var(--navyblue-color);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.persone-our-team{
    color: var(--navyblue-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 8px;
}
.services-our-portfolio{
    margin-bottom: 72px;
}
.social-links{
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}

.container-section{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.departments{
    margin-bottom: 8px;
}
.marketing{
    color: var(--cloud-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.departments{
    color: var(--navyblue-color);
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
}
.activity{
    color: var(--slate-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.our-team{
   background: var(--white, #FFF);
   display: flex;
   gap: 24px;
   width: calc((100% – 72px)/4);
   border-radius: 0px 0px 4px 4px;
}

.activity-item{
    background: var(--white, #FFF);
    
}
.img-portfolio{
    border-bottom: #FFF;
}
.footer-business-marketing{
    background-color: var(--navyblue-color);
    padding: 100px 0;
}